{% extends 'base.html.twig' %}

{% block titlecontent %}Rechercher un adherent{% endblock %}

{% block titlepage %}
    <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li><a href="{{ path('adherent') }}" class="active">Rechercher</a></li>
{% endblock %}

{% block stylesheets %}{% endblock %}


{% block body %}

        <div class="row">
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id adherents</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date Naissance</th>
                        <th>Sexe</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Code postal</th>
                        <th>Email</th>
                        <th>Certficat</th>
                        <th>Situation</th>
                        <th>Quartier</th>
                        <th>Numero secu</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for adherent in adherents %}
                        <tr>
                            <td>{{ adherent.id }}</td>
                            <td>{{ adherent.nom }}</td>
                            <td>{{ adherent.prenom }}</td>
                            <td>{{ adherent.dateNaissance }}</td>
                            <td>{{ adherent.sexe }}</td>
                            <td>{{ adherent.telephone }}</td>
                            <td>{{ adherent.adresse }}</td>
                            <td>{{ adherent.codePostal }}</td>
                            <td>{{ adherent.email }}</td>
                            <td>{{ adherent.certificat }}</td>
                            <td>{{ adherent.certificat }}</td>
                            <td>{{ adherent.certificat }}</td>
                            <td>{{ adherent.telephoneFixe }}</td>
                            <td style='text-align:center;'>
                                <button type="button" class="btn btn-info modal" data-toggle="modal" data-target="#detail"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modifier" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger confirm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                <a href="" class="btn btn-default" target="_blank"><i class="fa fa-file"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Id adherents</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date Naissance</th>
                        <th>Sexe</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Code postal</th>
                        <th>Email</th>
                        <th>Certficat</th>
                        <th>Situation</th>
                        <th>Quartier</th>
                        <th>Numero secu</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('asset/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script>

            $(function () {
                $('#example1').DataTable({
                    'paging'      : true,
                    'lengthChange': true,
                    'searching'   : true,
                    'ordering'    : true,
                    'info'        : true,
                    'autoWidth'   : true,
                    "lengthMenu": [[15, 20, 28, -1], [15, 20, 28, "Afficher tout"]],
                    language: {
                        processing:     "Traitement en cours...",
                        search:         "Rechercher&nbsp;:",
                        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        infoPostFix:    "",
                        loadingRecords: "Chargement en cours...",
                        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        emptyTable:     "Aucune donnée disponible dans le tableau",
                        paginate: {
                            first:      "Premier",
                            previous:   "Pr&eacute;c&eacute;dent",
                            next:       "Suivant",
                            last:       "Dernier"
                        },
                        aria: {
                            sortAscending:  ": activer pour trier la colonne par ordre croissant",
                            sortDescending: ": activer pour trier la colonne par ordre décroissant"
                        }
                    }
                })
            });

            $('#example1').on("click", ".confirm", function(e){
                e.preventDefault();
                e.preventDefault();
                $link = $(this);
                console.log($link);
                var rowData = $('#example1').DataTable().row($link.closest('tr')).data();
                var id = rowData[0];
                $.confirm({
                    text: "Etes-vous sûr de vouloir suprrimer cet adherent. Sa supression supprimera toute ses abonnements",
                    confirmButton: "Supprimer",
                    cancelButton: "Annuler",
                    confirm: function(data) {
                        console.log(id);

//                        $.post("scripts/ajout_adherent.php", { id_adh: id}, function (data) {
//                            if(data['result'] === 'success') {
//                                $("#success").html("La supression s'est effectuer avec succée").show();
//                                setTimeout(function() { window.location.reload() },5000);
//                            }
//                            else{
//                                $("#error").html("Erreur lors de la supression").show();
//                                setTimeout(function() { window.location.reload() },5000);
//                            }
//                        }, 'json');
                    }
                });
            });

        </script>
    {% endblock %}
